<ion-list>
    <ion-item-sliding #slidingItem *ngFor="let lista of listas | filtroCompletado:terminada">
        <ion-item-options side="left">
            <button ion-button color="info" (click)="editarLista(lista, slidingItem)" icon-only> 
                    <ion-icon name="create"></ion-icon>
                </button>
        </ion-item-options>
        <button ion-item (click)="itemSelected(lista)"> 
        {{ lista.titulo }}
        <ion-note item-end>{{lista.items.length}} items</ion-note>
    </button>
        <ion-item-options side="right">
            <button ion-button color="danger" (click)="quitar(lista.id)" icon-only> 
            <ion-icon name="close"></ion-icon>
        </button>
        </ion-item-options>

    </ion-item-sliding>
</ion-list>